<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>

</head>
<body>
<div>
    <h3> <span th:text = "${helloUser}"></span> with roles<span th:text="${role}"> </span> </h3>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>
    </div>

<h3>Add new user</h3>
<form th:action="@{saveUser}" th:object="${user}" th:method="post">

    <div>
        <label for="name">First Name:</label>
        <br>
        <input type="text" id="name" th:field="*{firstName}" placeholder="First Name" required>
    </div>
    <div>
        <label for="surname">Last Name:</label>
        <br>
        <input type="text" id="surname" th:field="*{lastName}"  placeholder="Last Name" required>
    </div>
    <div>
        <label for ="age">Age:</label>
        <br>
        <input type="number" id="age" th:field="*{age}" placeholder="Age:" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <br>
        <input type="email" id="email" th:field="*{email}" placeholder="Email:" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <br>
        <input type="password" id="password" th:field="*{password}" placeholder="Password:" required>
    </div>
    <div>
        <label for="role">Role:</label>
        <br>
        <select id="role" th:field="*{roles}" multiple>
             <option th:each="role : ${roles}"
                      th:value="${role.getId()}"
                      th:text="${role.toString()}"></option>


        </select>
    </div>

    <button type="submit">Add new user</button>
</form>
</body>
</html>