<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>ALL users</title>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-text">
           <h5 class="text-white bg-dark">
               <strong th:text="${user.getEmail()}"></strong>
                    with roles:
                        <tr th:each="role : ${role}" th:text="${role.toString()}"></tr></h5>
        </span>
        <form th:method="GET" th:action="@{/logout}">
            <button class="btn btn-outline-light border-0 text-secondary w-100"  type="submit">Logout</button>
        </form>
    </div>
</nav>

<!-- ADMIN PANEL -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 p-0 m-0 flex-fill">
                    <div class="nav flex-column nav-pills mt-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" href="#v-pills-admin" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                        <a class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
                    </div>
            </div>
            <div class="col-10">
<!-- Users Table-->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
                        <div class="p-3 mb-2 bg-light text-dark">
                                <h2> Admin panel</h2>
                            <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-link active" id="nav-usersTable-tab" data-bs-toggle="tab" href="#nav-usersTable" role="tab" aria-controls="nav-usersTable" aria-selected="true">Users table</a>
                                <a class="nav-link" id="nav-newUser-tab" data-bs-toggle="tab" href="/admin/addNewUser" role="tab" aria-controls="nav-newUser" aria-selected="false">New User</a>
                            </nav>

                            <div class="tab-pane fade show active" id="nav-usersTable" role="tabpanel" aria-labelledby="nav-usersTable-tab">
                                <div class=" text-dark mb-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3> All users</h3>
                                        </div>
                                        <div class="card-body">
                                        <!-- USERS TABLE -->
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="users : ${allUsers}">
                                                        <td th:text="${users.id}"/>
                                                        <td th:text="${users.firstName}"/>
                                                        <td th:text="${users.lastName}"/>
                                                        <td th:text="${users.age}"/>
                                                        <td th:text="${users.email}"/>
                                                        <td th:each= "role :${users.getRoles()}" th:text="${role.toString()}"/>
                                                        <td>
                                                            <form th:method="GET" th:action="@{admin/updateUser/{id}(id=${users.getId()})}">
                                                              <button type="submit" data-bs-toggle="modal" data-bs-target="#editModal" class="btn btn-info">Edit</button>
                                                            </form>
                                                        </td>

                                                        <td>
                                                            <form th:method="GET" th:action="@{/admin/deleteUser/{id}(id=${users.getId()})}">
                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br>

                                            <form th:method="GET" th:action="@{/admin/addNewUser}">
                                                <input type="submit" value="Add User"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- User Table -->
                    <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                        <div class="p-3 mb-2 bg-light text-dark">
                            <h2>User information-page</h2>
                            <div class=" text-dark mb-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>About user</h3>
                                    </div>
                                    <!-- TABLE STARTS HERE-->
                                    <div class ="card-body" >
                                        <table class="table table-striped table-hover table-lg">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${user}"/></td>
                                                <td th:text="${user.getId()}"/></td>
                                                <td th:text="${user.getFirstName()}"/></td>
                                                <td th:text="${user.getLastName()}"/></td>
                                                <td th:text="${user.getAge()}"/></td>
                                                <td th:text="${user.getEmail()}"/></td>
                                                <td th:each= "user :${user.getRoles()}" th:text="${user.toString()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>