<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:type="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>

</head>
<body>
<h1>Edit user</h1>
<form th:method="PATCH" th:action="@{/admin/update/{id}(id=${user.getId()})}" th:object="${user}">
    <div>
        <label for="id">ID</label>
        <br>
        <input type="text" id="id" th:field="*{id}" readonly required>
    </div>

    <div>
        <label for="name">First name</label>
        <br>
        <input type="text" id="name" th:field="*{firstName}" required>
    </div>
    <div>
        <label for="surname">Last name</label>
        <br>
        <input type="text" id="surname" th:field="*{lastName}" required>
    </div>
    <div>
        <label for="age">Age</label>
        <br>
        <input type="number" id="age" th:field="*{age}" required>
    </div>
    <div>
        <label for="email">Email</label>
        <br>
        <input type="email" id="email" th:field="*{email}" required>
    </div>
    <div>
      <label for="password">Password</label>
        <br>
        <input type="password" id="password" th:field="*{password}">
    </div>
    <div>
        <label for="role">Role</label>
        <br>
        <select id="role" th:field="*{roles}" multiple>
             <option th:each="role : ${roles}"
                      th:value="${role.getId()}"
                      th:text="${role.toString()}"></option>


        </select>
    </div>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Close"/>
    <button type="submit">Edit</button>
</form>
</form>
</body>
</html>